.jumbotron{
    margin-top: 40px;
    height: 500px;
    background-color: #293f68;
}
.jumbotron .row{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
}
.jumbotron .homepage{
    padding-left: 50px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.jumbotron .homepage h1{
    text-transform: uppercase;
    font-weight: bold;
}

.jumbotron .homepage a>button{
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 9px;
}

@media(max-width: 720) {
    .jumbotron .homepage{
        margin-top: 70px;
    }
}